<footer id="footer">
  <div class="row">
    <div class="col-lg-12">
      <p>Links:</p>
      <a href="#top" class="float-lg-right">Back to Top</a>
      <p>Support Server <a href="https://discord.gg/bzRh5Mz"> Rhino-Bot Support</a>.</p>
        <p>Bot Invite <a href="https://discordapp.com/oauth2/authorize?client_id=636311667239551006&scope=bot&permissions=2146958847"> Rhino-Bot</a></p>
    </div>
  </div>
</footer>
</body>
</html>